<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="logo-container">
      <ion-img 
        src="assets/images/logos/logo.png" 
        alt="ToltaMovies - Busca Filmes" 
        class="logo-image">
      </ion-img>
    </div>
    
  </ion-toolbar>
</ion-header>



<ion-content >

<div class="searchbar-wrapper">
<ion-searchbar 
  [(ngModel)]="searchQuery"
  placeholder="Search movies"
  (ionInput)="onSearch($event)"
  (keydown.enter)="displaySuggestions()"></ion-searchbar>

<ion-list *ngIf="this.ratedMoviesService.suggestions.length > 0 ">
  <ion-item
    *ngFor="let movie of this.ratedMoviesService.suggestions | slice:0:10"
    (click)="goToMovieInfo(movie.id)" 
    > <!-- [ | slice:0:10 ] pipeline para limitar resultados tlrdr -> "uma fatia" da pos x até y-->
    <ion-label>{{ movie.title }}</ion-label>
  </ion-item>
</ion-list>
</div>


<ion-grid>
  <ion-row>

    <ion-col size="12">
      <ion-card class="genre-card" (click)="goToGenre(null)">
        <img src="assets/images/genres/toprated.jpg" alt="Top Rated image" />
        <ion-card-header>
          <ion-card-title>Top Rated</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="12" *ngFor="let genre of genres">
      <ion-card class="genre-card" (click)="goToGenre(genre.id)">
        <img [src]="formatGenreImageName(genre.name)" [alt]="genre.name + ' image'" />
        <ion-card-header>
          <ion-card-title>{{ genre.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
