<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <ion-img 
        src="assets/images/logos/logo.png" 
        alt="ToltaMovies - Busca Filmes" 
        class="logo-image">
      </ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row>
    <ion-col size="12">
        <app-movie-card *ngIf="movie" [movie]="movie" [onClickRedirectToMovieInfo]="false"></app-movie-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
